services:
  web:
    build: .
    container_name: barbershop_web
    command: python backend/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=backend.core.settings
      - PYTHONPATH=/app
    depends_on:
      - db

  test:
    build: .
    container_name: barbershop_test
    command: ["pytest", "-q"]
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=backend.core.settings
      - PYTHONPATH=/app/backend:/app
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: barbershop_db
    environment:
      POSTGRES_DB: barbershop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  postgres_data:
